.content-password{
    padding-top: 130px;
    width: 600px;
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    margin-top: 30px;
}
.content-password > .content input{
    width: 350px;
    border-radius: 3px;     
    background-color:#bdbdbd;
    border: 0px;
    margin-top: 6px;
    margin-bottom: 6px;  
    padding: 11px;
}
.content p{
    margin-bottom:0;
}
.content-password > .buttons > .confirm-button{
    width: 200px;
    border-radius: 3px;
    border: 0px;
    padding: 11px;
    margin-top: 40px;
    background-color:#f01111;
    color: white;
    cursor: pointer;
}